body, html {
  height: 100%;
  width: 100%;
  background-color: #6393b7;
  font-family: 'Syne Mono', monospace;
  color: #fff;
}

h1, h2, h3, h4 {
  padding: 25px;
  text-align: center;
}

#register {
  margin: 100px;
}

#details {
  opacity: 0;
  color: white;
  text-align: center;
  padding: 20px;
}

.badge {
  cursor: pointer;
}

#consumers {
  color: #333;
  padding: 15px;
  display: none;
  min-height: 300px;
  max-height: 600px;
  min-width: 150px;
  max-width: 300px;
  overflow-y: scroll;
}

#showChat, #showGuests {
  opacity: 1;
}

#hideChat, #hideGuests {
  opacity: 0;
}

#guest-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 15px;
  opacity: 0;
  color: #333;
}

#chat-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 15px;
  opacity: 0;
  color: #333;
}

#chat {
  padding: 15px;
  /* padding: 15px 10px 115px; */
  display: none;
  min-height: 300px;
  max-height: 500px;
  min-width: 150px;
  max-width: 300px;
  overflow-y: scroll;
}

/* #chat .form-group {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
} */

#chat p.message {
  white-space: pre-wrap;
}

ul {
  list-style: none;
}

#register input, #register button {
  margin: 30px auto;
}

@media (max-width: 800px) {
  h1, h2, h3, h4 {
    padding: 10px;
  }

  #register {
    margin: 20px;
  }

  #chat-wrapper {
    width: 100%;
    bottom: 0;
    left: 0;
  }

  #guest-wrapper {
    width: 100%;
    bottom: 100px;
    left: 0;
  }
}
